*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!bibliotecas/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/OfficiumProject/nbproject/private/
/OfficiumProject/build/
/OfficiumProject/dist/
OfficiumProject/build.xml
OfficiumProject/nbproject/build-impl.xml~