/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2015, 22:43:49
    Author     : Lucas Corrêa
*/

.form-group{
    width: 100% !important;
}

.form-group > input{
    width: 69% !important;
}

label{
    width: 30%
}