<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">adminsql</property>
        
        <property name="hibernate.connection.autocommit">false</property>  
        <property name="hibernate.connection.release_mode">auto</property>        

        
        
        <property name="hibernate.show_sql">true</property>  
        <property name="hibernate.use_sql_comments">false</property>  
        <property name="hibernate.hibernate.format_sql">false</property>  
        <property name="hibernate.current_session_context_class">jta</property> 
        <!--<property name="hibernate.current_session_context_class">thread</property>--> 
        <property name="hibernate.hbm2ddl.auto">none</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        
        <!--Mapeamento das Entidades de Dominio-->
        <mapping class="br.com.officium.dominio.tarefas"/>
        
    </session-factory>
</hibernate-configuration>
